extends layout

block content
  .container
    .w3-card-4
      h3 FreeCodeCamp API Basejump: URL Shortener Microservice
    .w3-card-4
      h4 User Stories :
      ol
        li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
        li If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
        li When I visit that shortened URL, it will redirect me to my original link.
    .w3-card-4
      h4 Example creation usage :
      code http://url-shorten-atrinh567.herokuapp.com/https://www.google.com
    .w3-card-4
      h4 Example creation output :
      code { original_url: "http://www.google.com", short_url: "B17_5gu5" }
    .w3-card-4
      h4 You can use your new shorter link immediately! It will automatically redirect you.
      code http://url-shorten-atrinh567.herokuapp.com/B17_5gu5